.main-container {
  width: 100%;
  padding: 20px;
  height: 400px;
  background: url('./../../assets/bg1.jpg') center center;
  background-size: cover;
}

.content {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0;
}

.content p {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.btn {
  color: white;
  text-decoration: none;
  background: #ce6a7e;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
}

.btn:hover {
  background: #fff;
  color: #ce6a7e;
}

.services {
  margin: 10px 0;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.service-wrapper {
  width: 50%;
  margin: 0 auto;
}

.service-wrapper h1 {
  font-size: 25px;
  color: #ce6a7e;
  font-weight: 700;
  text-align: center;
}

.service-list {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 150px;
  background-color: #ce6a7e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  padding: 20px;
  color: white;
  border-radius: 15px;
  margin: 10px 20px;
}