<div class="main-nav">
    <div class="main-nav__container">
        <div class="logo">
            <a routerLink="/home">Food & Place Finder</a>
        </div>
        <ul class="main-nav__list">
            <li class="main-nav__item">
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/restaurants" routerLinkActive="active">Restaurants</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
            </li>
        </ul>
    </div>
</div>