<<<<<<< HEAD
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}
=======
.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}
>>>>>>> af241130964a5a87b233549f85447650ae757d02
